<form action="/users/register" method="POST" class="forms">
    <label>First Name:
        <input type="text" name="first_name" placeholder="Enter Your First Name">
    </label>
    <label>Last Name:
        <input type="text" name="last_name" placeholder="Enter Your Last Name">
    </label>
    <label>Email:
        <input type="text" name="user_email" placeholder="Enter Your Email">
    </label>
    <label>Password:
        <input type="password" name="user_password" placeholder="Enter Your Password">
    </label>
    <button type="submit">Register</button>
</form>
<h4 class="emailTaken">${email}</h4>