<!DOCTYPE html>

<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>${title}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
       <nav class="navBar">
           
           ${!!session.is_logged_in ? `
                <a>Hi, ${session.first_name}</a>
                <a href="/users/logout">Log Out</a>
            ` : `<a href="/users/login">Sign In</a>
                <a href="/users/register">Register</a>`
            }
            <a href="/">Home</a>
            <a href="javascript:history.back()">Back</a>
       </nav>
       <section class="innerContent">
        <h2 class="pageTitle">${title}</h2>
           ${partial}
       </section>

        
        <script src="" async defer></script>
    </body>
</html>